<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>水煮肉片</string>
		<key>price</key>
		<string>15.0</string>
		<key>number</key>
		<string>10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>红烧茄子</string>
		<key>price</key>
		<string>12.0</string>
		<key>number</key>
		<string>9</string>
	</dict>
	<dict>
		<key>name</key>
		<string>家常豆腐</string>
		<key>price</key>
		<string>13.0</string>
		<key>number</key>
		<string>56</string>
	</dict>
	<dict>
		<key>name</key>
		<string>烧土豆</string>
		<key>price</key>
		<string>20.0</string>
		<key>number</key>
		<string>16</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鱼香肉丝</string>
		<key>price</key>
		<string>18.0</string>
		<key>number</key>
		<string>89</string>
	</dict>
	<dict>
		<key>name</key>
		<string>人参果</string>
		<key>price</key>
		<string>99.9</string>
		<key>number</key>
		<string>1000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>白开水</string>
		<key>price</key>
		<string>999.9</string>
		<key>number</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>矿泉水</string>
		<key>price</key>
		<string>10</string>
		<key>number</key>
		<string>10000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>可乐</string>
		<key>price</key>
		<string>0.5</string>
		<key>number</key>
		<string>20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>雪碧</string>
		<key>price</key>
		<string>0.1</string>
		<key>number</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>麻婆豆腐</string>
		<key>price</key>
		<string>17.0</string>
		<key>number</key>
		<string>2</string>
	</dict>
</array>
</plist>
